body {
  background: #f6fafd;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #b3cfe5;
  padding: 2px;
}
nav input{
  width: 250px;
  text-decoration: none;
  padding: 9px;
  font-size: 18px;
  border: none;
}
.searchBar{
  display: flex;
  align-items: center;
  gap: 11px;
}
.searchBar input{
  border-radius: 20px;
  background-color: #f6fafd;
}
nav button{
  width: 70px;
  height: 38px;
  background-color: #4a7fa7;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
nav button:hover{
  background-color: #1a3d63;
  transition: 0.3s;
}
nav ul{
  display: flex;
  gap: 14px;

}
.categoryBtn .button {
  background: #4a7fa7;
  width: 150px;
  height: 40px;
  border-radius: 20px;
}
.categoryBtn .button:hover {
  background: #1a3d63;
  transition: 0.3s;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 320px); /* fixed card width */
  gap: 40px;
  justify-content: center;  /* centers the grid horizontally */
  padding: 20px;
}


.card{
  width: 320px;
  height: auto;
  background-color: #d8eeff;
  border-radius: 20px;
  margin-top: 21px;
  border: 1px solid rgb(236, 236, 236);
}
.card img{
  width: 100%;
  height: 180px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 20px 20px 0 0;
  /* padding: 15px; */

}
.card .title{
  font-weight: 600;
  font-size: 18px;
  margin-top: -7px;
}
.card .title:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}
.card .content{
  padding: 9px;
}
.card button{
  background-color: #4a7fa7;
  border: none;
  cursor: pointer;
  width: 90px;
  height: 35px;
  color: white;
  font-size: 12px;
  border-radius: 20px;
}
.card button:hover{
  background-color: #1a3d63;
  transition: 0.3s;
}
.categoryBtn{
  display: flex;
  justify-content: center;
  gap: 11px;
}
.categoryBtn button{
  gap: 11px;
  width: 130px;
  height: 33px;
  background-color: rgb(255, 108, 108);
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  padding: 2px;
}


.head{
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}