body {
  background: #FCF5EE;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFC4C4;
  padding: 2px;
}

nav input {
  width: 250px;
  padding: 9px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  background-color: #FCF5EE;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 11px;
}

nav button {
  width: 70px;
  height: 38px;
  background-color: #EE6983;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

nav button:hover {
  background-color: #850E35;
  transition: 0.3s;
}

/* Category Buttons */
.categoryBtn {
  display: flex;
  justify-content: center;
  gap: 11px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.categoryBtn .button {
  background-color: #EE6983;
  width: 130px;
  height: 33px;
  border-radius: 16px;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.categoryBtn .button:hover {
  background-color: #850E35;
  transition: 0.3s;
}

/* Heading */
.head {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin-top: 15px;
}

/* Cards */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 40px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.card {
  width: 320px;
  height: auto;
  background-color: #fcd4d4;
  border-radius: 20px;
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card .content {
  padding: 10px;
}

.card .title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
}

.card .title:hover {
  border-bottom: 1px solid black;
}

.card p {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
}

.card button {
  background-color: #EE6983;
  border: none;
  cursor: pointer;
  width: 90px;
  height: 35px;
  color: white;
  font-size: 12px;
  border-radius: 20px;
}

.card button:hover {
  background-color: #850E35;
  transition: 0.3s;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(2, 320px);
  }
}

@media screen and (max-width: 700px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  .searchBar {
    flex-direction: column;
    gap: 5px;
  }

  .categoryBtn {
    flex-direction: column;
  }
}
